@import '../../styles/index.scss';

.button {
    background-color: $button-color;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    color: $text-color;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $button-hover-color;
        color: $text-hover-color;
    }
}