@import '../../styles/index.scss';

.user-table {
    width: 90vw;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 70vw;
    }

    &-row>td {
        text-align: center;
    }

    &-row>td > button {
        margin: 0 auto;
    }


    &-head>tr > th {
        background-color: #138863;
        color: white;
    }
}