.userview-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  padding: 2rem;
  margin-block: 3rem;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #138863;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    .close-button {
      background-color: #44C394;
    }
  }
}