.userview-container {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #138863;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin-left: 20px;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

main {
  padding: 20px;

  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #138863;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .join-button {
      background-color: #44C394;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #2b7a78;
      }
    }
  }
}
