@import '../../styles/index.scss';

.card {
    background-color: $background-card;
    border-radius: 2rem;
    border: 1px solid black;

    text-align: center;
    padding: 2rem;

    max-width: 16rem;
    min-height: 100%;

    header {
        margin-bottom: 1rem;
    }

    p {
        line-height: 1.5rem;
    }
}