@import '../../styles/index.scss';

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-inline: 2rem;


    background-color: text-color;
    padding: 0.5rem;
    border: 2px solid $text-gray;
    border-radius: 1rem;
    font-size: inherit;

    &:focus {
        outline: none;
        border-color: $background-accent;
    }

    &:hover {
        outline: none;
        border-color: $background-accent;

        &:focus {
            outline: none;
            border: none;
        }
    }


    input[type="text"] {
        min-width: 16rem;
        border: none;
        padding-left: 0.5rem;
    }

    button {
        background-color: $text-color;
        border: 1px solid transparent;
        padding: 0.2rem;
        margin-block: auto;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            border-color: $background-accent;
        }

        svg {
            display: block;
        }
    }
}