@import '../../styles/index.scss';

.navBar {
   width:100%;
   height: 80px;
   background-color: $background-accent;
}
.linkNavbar {
   color: $text-color;
   text-decoration: none;
}
.navBar{
   display: flex;
   justify-content: end;
   
}
.navBarText{
   display: flex;
   align-items: center;
   margin-right: 40px;
   gap:58px;
}