$white: white;  
$light1: #EEFBF5;  
$light2: #D5F6E5;
$light3: #C1F0DA;
$lightgreen1: #7ADBB4;
$lightgreen2: #44C394; 
$lightgreen3: #21A87A; 
$lightgreen4: #138863; 
$darkgreen1: #0F6D51; 
$darkgreen2: #0F5641; 
$darkgreen3: #0D4738; 
$dark-green4: #062820; 
$grey: #707070;
$black: black;

$regular: 'Roboto, sans-serif', 20px, 400;
$medium: 'Roboto, sans-serif', 20px, 500;
$semibold-small: 'Roboto, sans-serif', 20px, 600;
$semibold-medium: 'Roboto, sans-serif', 30px, 600;
$semibold-large: 'Roboto, sans-serif', 40px, 600;
$bold: 'Roboto, sans-serif', 20px, 700;